.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    overflow: hidden;
}

.card{
    display: block;
    width: 100%;
    padding: 0;
    color: inherit;
    font: inherit;
    text-align: inherit;
    background: none;
    border: none;
    cursor: pointer;
    aspect-ratio: 1/1;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card:hover img, .card:focus-visible img{
    filter: brightness(50%);
}

.buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1rem;
    color: white;
    font-weight: 600;
    white-space: nowrap;

    visibility: hidden;
}

.buttons span{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.buttons:hover .test{
    opacity: 0.5;
}

.card:hover .buttons, .card:focus-visible .buttons{
    visibility: visible;
}

.button{
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}

.noPosts{
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

.loader{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
}

@media (max-width: 560px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 340px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}
