.cards{
    display: flex;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 28px;
    overflow-x: hidden;
}

.card{
    width: 298px;
    height: 298px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card img:hover{
    opacity: 0.5;
}

.buttons{
    position: relative;
    bottom: 55%;
    width: 131px;
    margin-left: 90px;
}

.buttons:hover .test{
    opacity: 0.5;
}

.card:hover .button{
    opacity: 1;
}

.button{
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    opacity: 0;
}

.noPosts{
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

.loader{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0rem;
    left: 40rem;
}