.wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 20rem;
    padding: 20px;
    position: relative;
}

.section{
    justify-content: center;
    text-align: center;
}

.profile-img-div{
    justify-content: center;
    text-align: right;
    margin-top: 50px;
    width: 50%;
    display: flex;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.defaultImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 4rem;
}

.defaultImg span{
    color: white;
    font-size: 75px;
}

.profile-data{
    justify-content: center;
    text-align: left;
    width: 80%;
    margin-top: 10px;
}

.profile-username{
    display: flex;
    align-items: center;
}

.profile-username p{
    font-size: 20px;
    margin-bottom: 0 !important;
}

.bio{
    white-space: pre-line;
    width: 150px;
}

.setting{
    cursor: pointer;
    margin-left: 20px;
    padding: 7px 18px;
    border-radius: 8px;
    font-weight:600;
    background-color: #fff;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.setting:hover{
    background-color: rgb(220, 220, 220);
    color: black;
}

.setting-light{
    cursor: pointer;
    margin-left: 20px;
    padding: 7px 18px;
    border-radius: 8px;
    font-weight:600;
    background-color: rgb(45, 45, 45);
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.setting-light:hover{
    background-color: #333333;
    color: white;
}

.profile-description{
    margin-top: 25px;
    font-size: 14px;
}

.profile-description div{
    font-weight: bold;
}

.profile-description p{
    margin-bottom: 0px;
}

.icon{
    font-size: 22px;
    margin-left: 15px;
    color: white;
}

.icon-light{
    color: #2f2f2f;
    font-size: 22px;
    margin-left: 15px;
}

icon-light:hover{
    color: #3d3d3d;
}

.icon:hover{
    color: rgb(206, 206, 206);
}

.divider{
    justify-content: center;
    text-align: center;
    display: flex;
}

.line{
    background-color: #343434;
    width: 960px;
    height: 1px;
}

.line-light{
    background-color: #cccccc;
    width: 960px;
    height: 1px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-right: 44px;
    margin-left: 40px;
    margin-bottom: 19px;
    border-top: 1px solid white;
    padding-top: 15px;
}

.links:hover{
    color: white;
}

.links-light{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-right: 44px;
    margin-left: 40px;
    margin-bottom: 19px;
    border-top: 1px solid black;
    padding-top: 15px;
}

.routes{
    text-align: center;
    justify-content: flex-start;
    display: flex;
    padding: 0 149px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.icons{
    margin-right: 10px;
}


/** Modalssss */


.backdrop{
    width: 100%;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;
    overflow: hidden;
}

.modal{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: 38%;
    z-index: 3500 !important;

    background-color: #2f2f2f;
    border-radius: 16px;

    width: 100%;
    max-width: 28rem;
}

.modal-light{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: 38%;
    z-index: 3500 !important;

    background-color: #ffffff;
    border-radius: 16px;

    width: 100%;
    max-width: 28rem;
}

.title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(66, 66, 66);
    padding: 2px;
}

.title span{
    font-weight: 600;
    font-size: 1.1rem;
}

.title button{
    position: relative;

    left: 10rem;
    
    background: none;
    border: none;
    color: white;
    text-align: right;

    font-size: 1.5rem;
}

.title-light{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(66, 66, 66);
    padding: 2px;
}

.title-light span{
    font-weight: 600;
    font-size: 1.1rem;
}

.title-light button{
    position: relative;

    left: 10rem;
    
    background: none;
    border: none;
    color: #2f2f2f;
    text-align: right;

    font-size: 1.5rem;
}

.negative{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 10px;
}


.follow{
    padding: 4px 16px !important;
    border-radius: 8px;
    background-color: rgb(82, 121, 249);
    color: white;
    margin-left: 2rem;
}

.loader{
    display: flex;
    width: 100%;
    justify-content: center;
}

@media (max-width : 768px){
    .routes{
        padding: 0;
        justify-content: center;
    }

    .profile-img-div{
        justify-content: center;
        text-align: right;
        margin-top: 30px;
        width: 50%;
        display: flex;
        margin-right: 3rem;
    }

    .profile-img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

}