.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 10px;
}

.card{
    width: 298px;
    height: 298px;
    background-color: white;
}

.card-light{
    width: 298px;
    height: 298px;
    background-color: black;
}

.buttonDiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 20px;
}
.button{
    color: rgb(28, 125, 251);
    outline: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.button:hover{
    color: white;
}

.button:active{
    color: grey;
}

.button-light{
    color: rgb(28, 125, 251);
    outline: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.button-light:hover{
    color: black;
}

.button-light:active{
    color: grey;
}

@media (max-width : 768px){
    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 28px;
        margin-top: 10px;
    }
}