.wrapper{
    width: 100%;
    overflow-x: hidden;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    overflow: hidden;
}

.card{
    aspect-ratio: 1/1;
    background-color: white;
}

.card-light{
    aspect-ratio: 1/1;
    background-color: black;
}

.buttonDiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 20px;
}
.button{
    color: rgb(28, 125, 251);
    outline: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.button:hover{
    color: white;
}

.button:active{
    color: grey;
}

.button-light{
    color: rgb(28, 125, 251);
    outline: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.button-light:hover{
    color: black;
}

.button-light:active{
    color: grey;
}