.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 10px;
}

.card{
    width: 298px;
    height: 298px;
    background-color: white;
}

.buttonDiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 20px;
}
.button{
    color: rgb(28, 125, 251);
    outline: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.button:hover{
    color: white;
}

.button:active{
    color: grey;
}