.wrapper{
    padding: 1rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}

.card{
    aspect-ratio: 1/1;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card img:hover{
    filter: brightness(50%);
}

.wrap{
    width: 100%;
    height: 100%;
}


.buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;

    display: flex;
    justify-content: center;
}

.card:hover .buttons{
    visibility: visible;
}


.buttons svg{
    font-size: 2rem;
    margin-left: 11px;
    color: white;
    z-index: 150;
}

.loader{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px){
    .buttons svg{
        font-size: 1rem;
    }
}