.wrapper{
    padding: 1rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}

.card{
    aspect-ratio: 1/1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card img:hover{
    opacity: 0.5;
}

.buttons{
    position: relative;
    bottom: 55%;
    width: 131px;
    margin-left: 90px;
}

.buttons:hover .test{
    opacity: 0.5;
}

.card:hover .button{
    opacity: 1;
}

.button{
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    opacity: 0;
}

.loader{
    width: 100%;
    justify-content: center;
    align-items: center;
}