@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');

.cards{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 20px;
    width: 37.5%;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

.card{
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
}

.info{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.username{
    margin-left: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.username a{
    text-decoration: none;
    color: white;
}

.username a:hover{
    color: whitesmoke;
}

.pfp{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
}

.date{
    margin-left: 0.5rem;
    color: rgb(180, 180, 180);
}

.img{
    vertical-align: top;
    height: 468px;
    width: 468px;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons{
    padding: 10px 0px;
}

.buttons button{
    background: none;
    color: white;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.footer{
    display: flex;
    flex-direction: column;
}

.footer button{
    text-align: left;
    background: none;
    color: rgb(148, 148, 148);
}

.post{
    width: 30rem;
    border-bottom: 1px solid white;
}

.post input{
    background: none;
    color: white;
    border: none;
    padding: 10px 0px;
    outline: none;
    font-size: 15px;
    width: 26rem;
}

.post button{
    background: none;
    color: rgb(55, 147, 240);
    font-weight: 500;
}