.regBtn{
    width: 40%;
    height: 3em;
    font-size: 18px;
    background-color: rgb(32, 177, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
    border-radius: 0.25em;
    cursor: pointer;
    border: none;
    position: relative;
    transform: scale(1.1);
}

.regBtn div{
    top: -7rem !important;
}


.regBtn:disabled{
    background-color: rgb(93, 93, 93);
}

.regBtn:disabled:hover{
    transform: scale(1);
}