.profile-info{
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 16px;
}

.profile-info div{
    margin-right: 40px;
}

.follow{
    padding: 4px 16px !important;
    border-radius: 8px;
    background-color: rgb(82, 121, 249);
    color: white;
    margin-left: 2rem;
}

.followBtn{
    background: none;
    color: white;
    margin-right: 2rem;
}

.followBtn:active{
    color: rgb(149, 149, 149);
}