.profile-info{
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 16px;
}

.profile-info div{
    margin-right: 40px;
}

.followBtn{
    background: none;
    color: white;
    margin-right: 2rem;
}

.followBtn:active{
    color: rgb(149, 149, 149);
}

.followBtn:disabled{
    border: none;
}