@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.site-title{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.nav{
    background-color: #121212;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 35px;
    border-right: 1px solid rgb(67, 67, 67);
}


.nav-links{
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    width: 230px;
    margin-left: 10px;
}

.active{
    font-weight: bold;
}

.nav-links li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 24px;
    margin-bottom: 20px;
    transition: 0.2s all;
}

.nav-links li a:hover{
    background-color: #1f1f1f;
}

.icons{
    color: white;
    margin-right: 15px;
    font-size: 22px;
}

.nav-links li a:hover .icons{
    transform: scale(1.1);
    transition: transform 0.5s;
    font-weight: bold;
    color: #f7709b;
}

.nav-links li a:active{
    color: #666666;
    background-color: transparent;
}

.nav-links li a:active .icons{
    transform: scale(1);
    color: #666666;
}

.buttons{
    background-color: #121212;
    color: white;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-color: transparent;
    border-radius: 24px;
    margin-bottom: 20px;
    width: 230px;
    text-align: left;
    margin-left: -2px;
    outline: none;
}

.buttons:hover{
    background-color: #1f1f1f;
}

.buttons:hover .icons{
    transform: scale(1.1);
    transition: transform 0.5s;
    color: #f7709b;
}

.buttons:active{
    color: #666666;
    background-color: transparent;
}

.buttons:active .icons{
    transform: scale(1);
    color: #666666;
}


/* LIGHT THEME */
.site-title-light{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.nav-light{
    background-color: #f5e5e5;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 35px;
    border-right: 1px solid rgb(67, 67, 67);
}

.nav-links-light{
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    width: 230px;
    margin-left: 10px;
}

.nav-links-light li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 24px;
    margin-bottom: 20px;
}

.nav-links-light li a:hover{
    background-color: #dfdfdf;
}

.nav-links-light li a:hover .icons-light{
    transform: scale(1.1);
    transition: transform 0.5s;
    font-weight: bold;
    color: #f7709b;
}

.nav-links-light li a:active{
    color: #666666;
    background-color: transparent;
}

.nav-links-light li a:active .icons-light{
    transform: scale(1);
    color: #666666;
}


.buttons-light{
    background-color: transparent;
    color: black;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-color: transparent;
    border-radius: 24px;
    margin-bottom: 20px;
    width: 230px;
    text-align: left;
    margin-left: -2px;
    outline: none;
}

.buttons-light:hover{
    background-color: #e4e4e4;
}

.buttons-light:hover .icons-light{
    transform: scale(1.1);
    transition: transform 0.5s;
    color: #f7709b;
}

.icons-light{
    color: black;
    margin-right: 15px;
    font-size: 22px;
}

.buttons-light:active{
    color: #666666;
    background-color: transparent;
}

.buttons-light:active .icons-light{
    transform: scale(1);
    color: #666666;
}



@media (max-width : 1240px){
    .nav-names{
        display: none;
    }

    .nav{
        width: 75px;
    }

    .nav-light{
        width: 75px;
    }

    .nav-links{
        width: 56px;
    }

    .buttons{
        width: 56px;
    }

    .nav-links li a:hover{
        background-color: transparent;
    }

    .buttons:hover{
        background-color: transparent;
    }
}



.modal{
    height: 100%;
    max-height: 600px;

    width: 100%;
    max-width: 550px;

    position: absolute;
    top: 12%;
    left: 31%;

    background-color: rgb(44, 44, 44);
    border-radius: 14px;

    z-index: 25000;
    display: none;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif !important;
    animation: grow 1s ease-in-out;
}

@keyframes grow {
    0% {
        transform: scale(0.9);
    }

    100%{
        transform: scale(1);
    }
}

.modal::-webkit-scrollbar{
    display: none;
}

.modal div:nth-child(1){
    width: 550px;
    border-bottom: 1px solid rgb(70, 70, 70);
    text-align: center;
    font-weight: 600;
    color: white;
}

.modal p{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.modal-icon{
    margin-top: 180px;
    color: white;
    font-size: 80px;
}

.modal-label{
    padding: 5px 16px;
    background-color: rgb(54, 127, 255);
    color: white;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
}

.modal-label input{
    display: none;
}

.modal-preview{
    width: 100%;
    height: 100%;
    max-height: 512px;
}

.modal-preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 30px;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    z-index: 3050 !important;
}

.modal-next{
    position: absolute;
    top: 14px;
    right: 20px;
    background: none;
    border: none;
    color: rgb(77, 99, 209);
    font-size: 20px;
}

.modal-next:hover{
    color: white;
}


.modal-previous{
    position: absolute;
    top: 9px;
    left: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}




.modal2{
    height: 100%;
    max-height: 556px;

    width: 100%;
    max-width: 550px;

    position: absolute;
    top: 13%;
    left: 31%;

    background-color: rgb(44, 44, 44);
    border-radius: 14px;

    z-index: 25000;

    display: none;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif !important;
}

.modal2 p{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px !important;
}


.modal-next2{
    position: absolute;
    top: 10px;
    right: 24px;
    background: none;
    border: none;
    color: rgb(77, 99, 209);
    font-size: 18px;
}

.modal-next2:hover{
    color: white;
}


.modal3{
    height: 100%;
    max-height: 594.5px;

    width: 100%;
    max-width: 882px;

    position: absolute;
    top: 13%;
    left: 24%;

    background-color: rgb(44, 44, 44);
    border-radius: 14px;

    z-index: 25000;

    display: none;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif !important;
}

.modal3 p{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.caption{
    display: flex;
    width: 100%;
}

.textarea{
    width: 80%;
    animation: slide 500ms ease-out;
}

@keyframes slide {
    0%{
        transform: translateX(-300px);
    }

    100%{
        transform: translate(0);
    }
}


.textarea textarea{
    width: 100%;
    background-color: rgb(44, 44, 44);
    padding: 20px;
    color: white;
    outline: none;
    border: none;
    height: 100%;
    min-height: 200px;
    resize: none;
}

.textarea textarea:focus::placeholder{
    color: white;
}

.modal-preview3{
    width: 100%;
    height: 100%;
    min-height: 545px;
    max-height: 545px;
}

.modal-preview3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 14px;
}

.modal-share{
    position: absolute;
    top: 13px;
    right: 24px;
    background: none;
    border: none;
    color: rgb(0 162 233);
    font-size: 18px;
}
.modal-share:hover{
    color: white;
}

.modalDiv{
    width: 880px;
    border-bottom: 1px solid #4f4f4f;
}