* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root{
  height: 100%;
}

html {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  color: white;
  background-color: #121212;
  overflow-x: hidden;
}

.dark{
  background-color: #121212;
  color: white;
}

.light{
  background-color: white;
  color: black;
}